Flask==1.1.2
certifi 
pytz 
tzdata 
setuptools 
cryptography 
pip 
click 
typing-extensions 
pymongo 
idna 
psycopg 
jinja2==2.11.3 
charset-normalizer 
requests 
pycparser 
psycopg2 
python-dateutil 
pyotp 
werkzeug 
dnspython 
mysql-connector 
markupsafe==2.0.1
itsdangerous==2.0.1 
pandas 
urllib3 
numpy 
six 
cffi 
blinker 
pymysql
colorama
Werkzeug==2.0.1